@import "components/navbar";

@import "components/grid";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
	background: #fff;
	overflow-x: hidden;
	font-family: 'Titillium Web', sans-serif;
}

#demo{
  width: 900px;
  height: 650px;
  overflow: hidden;
}

#hero {
  background-image: url('images/hero.jpg');
  background-size: cover;
  padding-top: 90px;
  min-height: 835px;
  color: #fff;
  }

.img-first{
	position: relative;
	width: 100%;
	height: 100vh;
	background: url(../images/img-principal2.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;

	& .welcome {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.4);

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	& .welcome2 {
		position: absolute;
		top: 20vh;
		left: 0;
		width: 100%;
		height: 100%;

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		& .h2 {
			
		}

		& .p {
			font-size: 20px;
			color:#fff;
			margin-top: 20;
		}
	}
}

.img-firts .welcome .h1{
	font-size: 50px;
	color: #fff;
	font-weight: 100;
}

.img.firts .welcome2 .h2 {
	font-size: 30px;
	color: #fff;
	font-weight: 150;
}

.titulo{
  color: blue;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
  grid-column: 2/6
}

.img-nosotras{
  width: 95%;
  height: auto;
  grid-column: 3/6;
  padding-left: 20px;
}

.img-mai{
  grid-column-start: 5;
  grid-column-end: 7;
}

.img001{
  position: relative;
  size: 100px
}

.galeria-imagenes{
  display: inline;
  width: 10vw;
  height: 10vw;
}

footer{
  color: #4B4A4A;
  position: center;
  text-align: center;
}

.contenedor-footer div{
  display: inline-block;
  bottom: 0;
}

.contenido-textos{
  color: #5E1177;
  grid-column: 3/9;
}

.contenido-texto-card{
  color: #D01E49;
}